{% extends "reports/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <title title="Profile"></title>
    <h1>Welcome {{ user.username }}.</h1>
    <br>
    <h2>Report Interval: {{ user.reports_interval }} days.</h2>
    <br>
    {% if user.risk_level == "0" %}
    <h2>Risk Level: Low.</h2>
    {% elif user.risk_level == "1" %}
    <h2>Risk Level: Medium.</h2>
    {% elif user.risk_level == "2" %}
    <h2>Risk Level: High.</h2>
    {% endif %}
    </br>

    {% if user.domain2 %}
        <h2><u>Protected Domains:</u></h2>
    {% else %}
        <h2>Protected Domain:</h2>
    {% endif %}
    <br>
    <h4>Domain 1: {{ user.domain1 }}</h4>
    {% if user.domain2 %}
        <h4>Domain 2: {{ user.domain2 }}</h4>
    {% endif %}
    {% if user.domain3 %}
        <h4>Domain 3: {{ user.domain3 }}</h4>
    {% endif %}
    {% if user.domain4 %}
        <h4>Domain 4: {{ user.domain4 }}</h4>
    {% endif %}
    {% if user.domain5 %}
        <h4>Domain 5: {{ user.domain5 }}</h4>
    {% endif %}
    <br>
    <article class="media content-section">

        <form method="POST">
            {% csrf_token %}

            <fieldset class="form-group">
                <h4>Edit Your Profile</h4>
                <br>
                {{ domains_form|crispy }}
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
            </fieldset>
        </form>
    </article>

{% endblock content %}