{% extends "reports/base.html" %}
{% block content %}
    <title>Home</title>
    {% if user.is_authenticated %}
        <h1>Welcome to Phishnet {{ user.username }}!</h1>
    {% else %}
        <h1>Welcome to Phishnet!</h1>
    {% endif %}
    <br>
    <main role="main" class="container">
      <div class="row">
        <div class="col-lg-12">

            <article class="media content-section">
              <div class="media-body">
                  <h2>Who Are We?</h2>
                <p class="article-content">
                    <h5>
                    Phishnet is a free web-service designed for site owners who wish to protect their web domains from malicious imposters that try to mislead the site's users by using Phishing techniques.
                    </h5>
                    <h5>
                        Phishnet uses complex scanning and comparison algorithms in order to identify potential imposters over the World-Wide-Web.
                    </h5>
                    <h5>
                    Our service offers registered clients to create periodical reports with the list of all suspicious domains that are online, filtered by three risk levels.
                    </h5>
                </p>

              </div>
            </article>

        </div>
        <div class="col-lg-12">
          <div class="content-section">
            <h3>What is Phishing?</h3>
            <p class='text-muted'>
                Phishing is a cybercrime in which a target or targets are contacted by email, telephone or text message by someone posing as a legitimate institution to lure individuals into providing sensitive data such as personally identifiable information, banking and credit card details, and passwords.
                The information is then used to access important accounts and can result in identity theft and financial loss.
            </p>
          </div>
        </div>
      </div>

    </main>
    <br>
    <br>

{% endblock %}